example/example-project/bin/Debug/mcbcpp.exe
example/example-project/mcbcpp.depend
example/example-project/obj/Debug/main.o
example-project/bin/Debug/mcbcpp.exe
example-project/mcbcpp.depend
example-project/obj/Debug/main.o
